/* Header */
.header {
    --clr-text-header: var(--clr-text-secondary);

    width: 100vw;
    min-height: min(5vw, 8rem);
    display: grid;
    grid-template-areas: 'a11y title menu logo';
    grid-template-columns: 23ex 2fr 1fr 13ch;
    place-content: center;
    align-items: center;
    column-gap: 1em;
    z-index: var(--z-index-header);
    background-image: url(assets/base/banner-header.webp), radial-gradient(circle at 33%, hsl(0deg 0% 100% / 16%) 13%, var(--clr-brand) 48%);
    background-color: var(--clr-brand);
    color: var(--clr-text-header);
    background-position: left;
    background-size: contain;
    background-repeat: repeat;
    background-origin: padding-box;
    box-shadow: inset 0px 0px 20px 0px #004569;
    position: relative;
}

html[data-dark-mode="true"] .header {
    background-image: url(assets/base/banner-header.webp);
    box-shadow: inset 0px 0px 20px 0px #002031;
}

@media screen and (max-width: 1280px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        column-gap: .5rem;
    }
}


/* Logo */
.logo {
    grid-area: logo;
    width: max(5rem, 6vw);
    height: auto;
    justify-self: center;
}


/* Menu a11y */
.menu-a11y {
    grid-area: a11y;
}

.menu-a11y ul {
    --flow-space: .3rem;
    list-style: none;
    padding-inline-start: 0;
    padding-inline-start: 0;
    margin-block: 0;
    flex-direction: column;
}

.menu-a11y li {
    width: 100%;
}

.menu-a11y__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(.5rem, 5%, 1.2rem);
    font-family: 'Lato';
    color: var(--clr-text-header);
    border: 1px solid transparent;
    background-color: transparent;
    font-size: var(--fs-300);
    font-weight: 100;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .menu-a11y__button span {
        display: none;
    }

    .menu-a11y__button svg {
        --icon-size: 1.4rem;
    }
}

/* Title slide */
.title-slide {
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-slide__number {
    position: relative;
    margin-inline-end: 1rem;
    font-family: 'Nunito';
    font-size: var(--fs-800);
    color: var(--clr-text-header);
    -webkit-text-stroke: 1px var(--clr-text-header);
    -webkit-text-fill-color: transparent;
}

.title-slide__number::after {
    content: '';
    top: 50%;
    right: -0.5rem;
    height: 55%;
    position: absolute;
    border-right: 1px solid rgb(255 255 255 / 70%);
    transform: translateY(-50%);
}

.title-slide h1 {
    font-family: 'Heebo';
    font-size: var(--fs-600);
}

@media screen and (max-width: 1536px) {
    .title-slide h1 {
        font-size: var(--fs-400);
    }
}

@media screen and (max-width: 1240px) {

    .title-slide__number {
        font-size: var(--fs-600);
    }

    .title-slide h1 {
        font-size: var(--fs-300);
    }
}

@media screen and (max-width: 768px) {
    .title-slide__number {
        font-size: var(--fs-500);
    }

    .title-slide h1 {
        font-size: var(--fs-200);
    }
}

/* Menu */
.menu {
    grid-area: menu;
}

.list {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

@media screen and (max-width: 1280px) {
    .list {
        gap: .5rem;
    }

    .list--menu {
        --clr-text-header: var(--clr-text-main);
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        padding-block: 1rem;
        background-color: var(--clr-background);
        overflow-y: auto;
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
        border: 2px solid #e3e3e3;
        box-shadow: 0px 3px 0px 0px #e3e3e3;
        margin-block-start: 0;
        gap: 0;
    }

    html[data-dark-mode="true"] .list--menu {
        border: 2px solid #404040;
        box-shadow: 0px 3px 0px 0px #404040;
    }
}

.list__item {
    position: relative;
}

.menu__button {
    color: var(--clr-text-header);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-block: .4rem;
    padding-inline: .2rem;
    font-size: var(--fs-300);
    text-decoration-color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: capitalize;
    font-family: 'Roboto';
    stroke-width: .1125rem;
}

@media screen and (max-width: 1536px) {
    .menu__button {
        font-size: var(--fs-200);
    }
}

.menu__button svg {
    --icon-size: 2.1rem;
}

@media screen and (max-width: 1536px) {
    .menu__button svg {
        --icon-size: 1.7rem;
    }
}

@media screen and (max-width: 1280px) {
    .menu__button {
        width: 100%;
        justify-content: flex-start;
        padding-inline: 1.2rem;
    }

    .menu__button:is(:hover, :focus-within) {
        background-color: var(--clr-brand);
        color: #fff;
    }


    .menu__button svg {
        --icon-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .menu__button {
        font-size: var(--fs-200);
    }

    .menu__button svg {
        --icon-size: 1.2rem;
    }
}

.menu__button span {
    align-self: flex-end;
}

/* MenuList */
.menu-list {
    --background: var(--clr-background);
    --width: 336px;
    --element-height: 1.3rem;
    --total-elements: 15;
    --outline-button: max(2px, .08em);
    --gap: .5rem;

    position: absolute;
    top: calc(100% + 2rem);
    left: 0;
    display: grid;
    padding-inline: 0;
    width: var(--width);
    max-height: calc((var(--element-height) * var(--total-elements)) + (var(--gap) * (var(--total-elements) - 1)));
    background-color: var(--background);
    color: var(--clr-text-main);
    isolation: isolate;
    overflow-y: auto;
    border-radius: 8px;
    border: 2px solid #e3e3e3;
    box-shadow: 0px 3px 0px 0px #e3e3e3;
    list-style: none;
}

.menu-list--fit {
    --width: max(14rem, 15vw);
}

@media screen and (min-width: 1280px) {
    html[data-dark-mode="true"] .menu-list {
        --background: var(--clr-background);
        border: 2px solid #404040;
        box-shadow: 0px 3px 0px 0px #404040;
    }
}

@media screen and (max-width: 1280px) {
    .menu-list {
        --width: 100%;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        border: none;
        padding-inline-start: 1.5rem;
    }

    .menu-list[data-underline="true"] li:not(:last-child)::before {
        display: none;
    }

}

.menu-list[data-underline="true"] li:not(:last-child) {
    position: relative;
    z-index: 1;
}

.menu-list[data-underline="true"] li:not(:last-child)::before {
    content: '';
    position: absolute;
    inset: 0 0 -1px 50%;
    width: 95%;
    border-bottom: 2px solid #e3e3e3;
    transform: translateX(-50%);
    isolation: isolate;
    z-index: -1;
    pointer-events: none;
}

html[data-dark-mode="true"] .menu-list[data-underline="true"] li:not(:last-child)::before {
    border-bottom: 2px solid #404040;
}

.menu-list::-webkit-scrollbar {
    border-radius: .625rem;
    background-color: #f5f5f5;
    width: .625rem;
}

.menu-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.menu-list::-webkit-scrollbar-thumb {
    border: 2px solid #f5f5f5;
    background-color: var(--clr-brand);
    border-radius: .4375rem;
}

html[data-dark-mode="true"] .menu-list::-webkit-scrollbar {
    background-color: var(--clr-background);

}

html[data-dark-mode="true"] .menu-list::-webkit-scrollbar-thumb {
    border: 2px solid var(--clr-background)
}

.menu-list li:is(:hover, :focus-within)>:not(div[role="region"]) {
    background-color: var(--clr-brand);
    color: #fff;
}

:is(.menu-list__button, .accordion__button) {
    display: grid;
    align-items: center;
    justify-items: start;
    gap: .5rem;
    grid-template-columns: auto 1fr auto;
    padding: .3rem .8rem;
    margin-inline: auto;
    width: 100%;
    min-height: var(--element-height);
    text-decoration-color: transparent;
    text-align: start;
    background-color: transparent;
    border: 2px solid transparent;
    color: inherit;
}

.menu-list__button:not(:has(svg)) {
    grid-template-columns: auto 1fr;
}

.menu-list__button--active {
    background-color: var(--clr-brand);
    color: #fff;
}

:is(.menu-list__button, .accordion__button) svg {
    height: 2.8ex;
    fill: currentColor;
}

/* Hamburger button */
.hamburguer__button {
    --outline-color: var(--clr-brand);

    display: none;
    padding: .125rem;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.hamburguer__button span {
    display: block;
    height: .125rem;
    width: 1rem;
    background-color: #f5f5f5;
    transition: .2s cubic-bezier(0, 0, 0, 1) all;
    transform-origin: center;
}

.hamburguer__button span:nth-child(2) {
    margin: .3125rem 0;
}

.hamburguer__button[aria-expanded="true"] span:first-child {
    transform: rotate(45deg) translateY(.3125rem) translateX(.3125rem);
}

.hamburguer__button[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.hamburguer__button[aria-expanded="true"] span:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.3125rem) translateX(.3125rem);
}

@media screen and (max-width: 1280px) {
    .hamburguer__button {
        display: block;
    }

    .hamburguer__button[aria-expanded="true"]+.list--menu {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
}

/* Modals */
.modal__title {
    text-transform: uppercase;
    border-bottom: 2px solid var(--clr-brand);
}

.modal__wrapper li::marker {
    color: var(--clr-brand);
}


/* Shortcuts */
.shortcuts {
    list-style-type: none;
    padding-inline-start: 0;
}

.shortcuts li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    place-items: center;
    gap: 1rem;
}

.shortcuts>*+* {
    margin-block-start: 1.5rem;
}

.shortcuts__box {
    padding: .5rem 1rem;
    width: min(100% - 2rem, 25ch);
    display: grid;
    grid-template-columns: 1.4rem auto;
    align-items: center;
    text-align: center;
    border: 2px solid var(--clr-brand);
    border-radius: .6rem;
}

/* Tour */
.tour__layer {
    border: 1px solid #fff;
    box-shadow: 0 0 4px 1px #ffffff;
    opacity: .5;
}

.tour__layer :global(.c-tour-number) {
    background-color: var(--clr-brand);
    right: 0;
    border: 2px solid #ffffff;
}

div.tour__element {
    --tour-color: var(--clr-brand);
    --tour-color-hover: var(--clr-accent-dark);
    font-family: 'Roboto';
}

html[data-dark-mode="true"] div.tour__element {
  background-color: var(--clr-background);
}

div.tour__element button {
    --button-bg-color: #fff;
    --button-padding: .3rem;
    width: 2.4rem;
    height: 2.4rem;
    color: #ffffff;
}

div.tour__element :global(.tour-description) {
    margin-block: .5rem;
}

.tour__element svg {
    fill: currentColor;
    pointer-events: none;
}

[data-class="c-layout"] {
    backdrop-filter: none;
}

/* Skip Link */
.skip-link {
    --outline-offset: -4px;
    --radius: .6rem;

    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: fit-content;
    padding: 0.3em 1.5em;
    margin-inline: auto;
    color: #121212;
    font-size: var(--fs-300);
    border: 1px solid transparent;
    background-color: var(--clr-accent-dark);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    transform: translateX(-50%);
    z-index: var(--z-index-interpreter);
}

.skip-link:not(:focus):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap;
}

@media screen and (forced-colors: active) {
    .skip-link {
        color: LinkText;
    }
}