/* Header */
.header {
    --clr-text-header: var(--clr-text-secondary);

    width: 100vw;
    min-height: min(10vh, 8rem);
    display: grid;
    grid-template-columns: 15ch 2fr 1fr 10ch;
    place-content: center;
    align-items: center;
    column-gap: 1em;
    z-index: 1;
    background-image: url(assets/base/banner-header.webp), radial-gradient(circle at 33%, hsl(0deg 0% 100% / 16%) 13%, var(--clr-brand) 48%);
    background-color: var(--clr-brand);
    color: var(--clr-text-header);
    background-position: left;
    background-size: contain;
    background-repeat: repeat;
    background-origin: padding-box;
    box-shadow: inset 0px 0px 20px 0px #004569;
}

/* Logo */
.logo {
    width: auto;
    height: max(3rem, 4vw);
    justify-self: center;
}


/* Menu a11y */
.menu-a11y ul {
    --flow-space: .3rem;
    list-style: none;
    padding-inline-start: 0;
    padding-inline-start: 0;
    margin-block: 0;
}

.menu-a11y__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(.5rem, 5%, 1.2rem);
    font-family: 'Lato';
    color: var(--clr-text-header);
    border: 1px solid transparent;
    background-color: transparent;
    font-size: var(--fs-300);
}

/* Title slide */
.title-slide>* {
    display: inline-block;
}

.title-slide__number {
    position: relative;
    margin-inline-end: 1rem;
    font-family: 'Nunito';
    font-size: var(--fs-800);
    color: transparent;
    -webkit-text-stroke: 1px var(--clr-text-header);
    -webkit-text-fill-color: transparent;
}

.title-slide__number::after {
    content: '';
    top: 50%;
    right: -.5rem;
    height: 55%;
    position: absolute;
    border-right: 1px solid rgb(255 255 255 / 70%);
    transform: translateY(-50%);
}

.title-slide h1 {
    font-family: 'Heebo';
    font-size: var(--fs-600);
}

/* Menu */
.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
}

.list__item {
    position: relative;
}

.menu__button {
    color: var(--clr-text-header);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-block: 0.4rem;
    font-size: var(--fs-300);
    text-decoration-color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: capitalize;
    font-family: 'Roboto';
}

.menu__button svg {
    --icon-size: 2.1rem;
}

.menu__button span {
    align-self: flex-end;
}

/* MenuList */
.menu-list {
    --background: #fbfbfb;
    --element-height: 1.3rem;
    --total-elements: 15;
    --outline-button: max(2px, .08em);
    --gap: 0.5rem;

    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    display: grid;
    padding-inline: 0;
    width: 21rem;
    max-height: calc((var(--element-height) * var(--total-elements)) + (var(--gap) * (var(--total-elements) - 1)));
    background-color: var(--background);
    color: var(--clr-text-main);
    isolation: isolate;
    overflow-y: auto;
    border-radius: 8px;
    border: 2px solid #e3e3e3;
    box-shadow: 0px 3px 0px 0px #e3e3e3;
}

.menu-list[data-underline="true"] li:not(:last-child) {
    position: relative;
    z-index: 1;
}

.menu-list[data-underline="true"] li:not(:last-child)::before {
    content: '';
    position: absolute;
    inset: 0 0 -1px 50%;
    width: 95%;
    border-bottom: 2px solid #e3e3e3;
    transform: translateX(-50%);
    isolation: isolate;
    z-index: -1;
    pointer-events: none;
}

.menu-list::-webkit-scrollbar {
    border-radius: .625rem;
    background-color: #f5f5f5;
    width: .625rem;
}

.menu-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.menu-list::-webkit-scrollbar-thumb {
    border: 2px solid #f5f5f5;
    background-color: var(--clr-brand);
    border-radius: .4375rem;
}

.menu-list li:is(:hover, :focus-within)>:not(div[role="region"]) {
    background-color: var(--clr-brand);
    color: #fff;
}


:is(.menu-list__button, .accordion__button) {
    display: grid;
    align-items: center;
    justify-items: start;
    gap: .5rem;
    grid-template-columns: auto 1fr auto;
    padding: 0.3rem .8rem;
    margin-inline: auto;
    width: 100%;
    min-height: var(--element-height);
    text-decoration-color: transparent;
    text-align: start;
    background-color: transparent;
    border: 2px solid transparent;
    color: inherit;
}

.menu-list__button:not(:has(svg)) {
    grid-template-columns: auto 1fr;
}

:is(.menu-list__button, .accordion__button) svg {
    height: 2.8ex;
    fill: currentColor;
}

/* Accordion */
.accordion:global(.c-accordion__item:last-of-type) {
    border-bottom: none;
}

.accordion:global(.c-accordion__item) {
    border-top: none;
}

.accordion__panel {
    background-color: #f6f6f6;
}

.accordion__panel>div {
    padding: 0 .125rem;
}


.accordion__panel-button {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    margin-inline: auto;
    width: 100%;
    min-height: var(--element-height);
    text-decoration-color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--clr-text-main);

}