.cover-title {
    --title-size: 60ch;

    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
}

.cover-title__audio {
    justify-self: center;
    align-self: center;
}

.cover-title__title {
    align-self: start;
    max-width: var(--title-size);
    display: grid;
    place-content: center;
    gap: 1em;
    isolation: isolate;
}

.cover-title h1 {
    font-size: var(--fs-700);
    font-family: 'Lato';
    font-weight: bold;
}

.cover-title__link {
    --outline-offset: -4px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5em 1.3em;
    width: fit-content;
    background-color: var(--clr-brand-light);
    font-weight: bold;
    font-size: var(--fs-300);
    color: var(--clr-text-secondary);
    text-decoration-color: transparent;
    border: 1px solid transparent;
    border-radius: 100vw;
    transition: background-color 120ms ease-in-out;
}

.cover-title__link:is(:hover, :focus) {
    background-color: #18729e;
}

.cover-title__link>svg {
    --icon-size: 1.9rem;
}

@media screen and (max-width: 1024px) {
    .cover-title {
        place-items: center;
        grid-template-rows: auto 2fr;
        text-align: center;
    }

    .cover-title__title {
        --title-size: 80ch;
        display: grid;
        place-items: center;
    }

    .cover-title h1 {
        font-size: var(--fs-600);
    }
}

@media screen and (max-width: 640px) {
    .cover-title h1 {
        font-size: var(--fs-400);
    }
}