.panel {
    display: block;
}

.panel__section {
    opacity: 0;
}

.progress {
    --wrapper-width: 140ch;
    margin-inline: auto;
}

.progress__list {
    --gap-list: 1.3rem;

    margin-block: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-list);
}

@media screen and (max-width: 1280px) {
    .progress__list {
        --gap-list: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .progress__list {
        --gap-list: .8125rem;
    }
}

.progress__button {
    --outline-color: var(--clr-accent-dark);

    font-style: italic;
    text-transform: capitalize;
    border-radius: .4rem;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--clr-accent);
    transition: opacity, transform 120ms ease-in-out;
}

html[data-dark-mode="true"] .progress__button {
    color: #121212;
}


.progress__button:is(:hover, :focus-visible) {
    transform: scale(0.96);
}
.progress__button:disabled {
    opacity: 0;
}

.progress__item {
    --button-size: .8rem;
    --button-clr: #afafaf;

    position: relative;
    width: var(--button-size);
    height: var(--button-size);
}

@media screen and (max-width: 1280px) {
    .progress__item {
        --button-size: .625rem;
    }
}

.progress__item:not(:nth-last-child(2))::after {
    content: '';
    position: absolute;
    top: 50%;
    width: var(--gap-list);
    border: 1px solid transparent;
    transform: translateY(50%);
    box-shadow: 2px -1px 0 0 var(--button-clr);
}

.progress__item-button {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 1px;
    background-color: var(--button-clr);
    border: 1px solid transparent;
    cursor: pointer;
    appearance: none;
    transition: border-radious, background-color 150ms ease;
}

.progress__item-button--active {
    --button-clr: var(--clr-accent);
}

.progress__item-button[aria-selected="true"] {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 53%);
    border-radius: 0;
}

.progress__item-button:focus-visible {
    --outline-color: var(--clr-brand);
    --button-clr: var(--clr-brand);

    transform: scale(1.5);
    transition: transform 150ms ease;
}