.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding: 0 10px;
    box-sizing: border-box;
}

.activity-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../../../public/assets/svgs/Ova_004_sld_05_fondo.svg'), 
                linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
}

.activity-header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.score{
    border: 2px solid var(--clr-text-secondary);
    text-align: center;
    border-radius: 50px;
    padding: 5px 8px;
    margin: 5px;
    background-color: #008e8c;
    color : var(--clr-text-secondary);
    text-transform: uppercase;
}

.score-text {
    margin-right: 5px; /* Margen derecho */
}

.score-value{
    background-color: #015452;
    border-radius: 4px;
    padding: 3px;
}

/* Ture and False carousel */

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--clr-text-secondary);
    background: #008e8c;
    border-radius: 50px;
    color: var(--clr-brand-dark);
    cursor: pointer;
    margin: 0 5px;
    min-width: 10px;
}

.nav-button svg {
    --icon-size: 2.5rem;
    fill: var(--clr-text-secondary);
}

.nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: #ccc;
}

/* True and False card */
.card-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c1e3e9; 
    border: 3px solid #354a81; 
    border-radius: 15px; 
    padding: 50px 60px 20px 60px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: clamp(14rem, 35vw, 600px);
    margin: 20px auto; 
    text-align: center;
    box-sizing: border-box;
}

.card-question h2 {
    font-size: 24px; 
    margin-bottom: 50px; 
    color: #121212;
    text-transform: uppercase;
}

.card-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
}

.button {
    border: 3px solid var(--clr-text-secondary);
    border-radius: 50px;
    margin: 5px;
    padding: 5px 0;
    width: 80px;
    height: 50%;
    background-color: #008e8c;
    color : var(--clr-text-secondary);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button.selected{
    background: var(--clr-accent-dark);
    color: #121212;
}

.button.correct {
    background: #398431;
    position: relative;
}

.button.correct::after {
    content: '✔';
    color: white;
    background-color: #85a321;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

.button.incorrect {
    background: var(--clr-activity-wrong);
    position: relative;
}

.button.incorrect::after {
    content: '✖';
    color: white;
    background-color: #c22e41;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Dark mode */
html[data-dark-mode="true"] .nav-button{
    background-color: #005b5a;
}