.modal {
    --border-radious: clamp(1.5rem, 6%, 3rem);

    background-color: var(--clr-background);
    border-radius: var(--border-radious);
    block-size: unset;
}

.modal::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid var(--clr-brand);
    border-radius: var(--border-radious);
    transform: scale(0.97, 0.95);
    pointer-events: none;
    isolation: isolate;
    z-index: -1;
}

.modal-overlay {
    background: #000000;
}

.modal-button {
    --outline-color: var(--clr-brand);

    position: absolute;
    top: 0;
    right: 0;
    width: clamp(3.5rem, 20%, 5rem);
    display: grid;
    place-content: center;
    aspect-ratio: 1 / 1;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 105.7 101.26" style="enable-background:new 0 0 105.7 101.26;"><style type="text/css"> .st0 { clip-path:url(%23SVGID_00000179604885491456703710000006733002356409068939_); fill:%23025C88; } .st1{ fill:%23FFFFFF; }</style><g><defs><polyline id="SVGID_1_" points="0,0 0,101.26 105.7,101.26 105.7,0 0,0" /></defs><clipPath id="SVGID_00000126319537983971026830000011957884089694948261_" ><use href="%23SVGID_1_" style="overflow:visible;" /></clipPath><path style="clip-path:url(%23SVGID_00000126319537983971026830000011957884089694948261_); fill:%23025C88;" d="M67.4,97.58L9.01,62.86c-10.47-6.22-9.88-21.57,1.04-26.97L76.23,3.12c10.91-5.4,23.47,3.43,22.08,15.53l-7.79,67.49c-1.28,11.07-13.54,17.14-23.11,11.44H67.4z" /></g><path class="st1" d="M73.18,97.58l0.26-0.43L15.05,62.43l0,0c-4.88-2.9-7.27-7.83-7.27-12.76c0-5.32,2.79-10.62,8.28-13.33v0L82.24,3.57v0C84.42,2.49,86.66,2,88.83,2c3.92,0,7.64,1.6,10.38,4.25c2.74,2.65,4.49,6.35,4.49,10.57c0,0.58-0.03,1.18-0.1,1.78l-7.79,67.49c-0.92,7.91-7.62,13.17-14.79,13.18c-2.54,0-5.14-0.66-7.57-2.11l-0.12-0.07h-0.15V97.58l0.26-0.43L73.18,97.58v0.5h0.01v-0.5l-0.25,0.43c2.58,1.54,5.36,2.25,8.08,2.25c7.65,0,14.8-5.63,15.78-14.06l7.79-67.49v0c0.07-0.64,0.11-1.27,0.11-1.89C104.69,7.81,97.22,1,88.83,1c-2.32,0-4.72,0.53-7.04,1.67L15.61,35.44l0,0c-5.84,2.89-8.83,8.56-8.83,14.23c0,5.25,2.56,10.54,7.76,13.62l0.01,0.01l58.5,34.78h0.13V97.58L73.18,97.58z" /></svg>');
    transform: translate(40%, -40%);
    border-radius: 1rem;
    cursor: pointer;
}

.modal-button svg {
    --icon-size: 2rem;
}