div.radio {
    --input-radio-clr: var(--clr-background);
    --input-radio-border-clr: #11203c;
    --input-radio-bg: #11203c;
    --input-size: 1.6rem;
    --input-size-svg: 1.2em;
    --input-radio-gap: 1rem;

    padding: .5rem 1rem;
    justify-content: flex-start;
    font-style: italic;
    border-radius: .5rem;

}

.containerPlaneAndOption {
    display: grid;
    row-gap: .4rem;
    grid-template-rows: 7.5rem auto;
}

.containerPlaneAndOption .option {
    width: auto;
    padding: .5rem 1rem;
    min-width: 300px;
    border: 3px solid #E76732;
    min-height: 50px;
    border-radius: 1rem;
    height: auto;
    background-color: #f7f7da;
    color: inherit;
    display: flex;
    font-weight: bold;
    justify-content: start;
    align-items: center;
}

html[data-dark-mode="true"] .containerPlaneAndOption .option {
    background-color: var(--ui-color-gray-900);
}

.plane {
    --size-particule: 60px;
    --size-sub-particule: 55px;

    width: var(--size-particule);
    height: var(--size-particule);
    transform-style: preserve-3d;
}

.plane.main {
    margin: auto;
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}

.plane.main .circle {
    width: var(--size-particule);
    height: var(--size-particule);
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px var(--backgroundParticule), inset 0 0 60px var(--backgroundParticule)
}

.plane.main .circle::before,
.plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--backgroundParticule);
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px var(--backgroundParticule);
}

.plane.main .circle::before {
    transform: translateZ(calc(-1 * var(--size-sub-particule)));
}

.plane.main .circle::after {
    transform: translateZ(var(--size-sub-particule));
}

.plane.main .circle:nth-child(1) {
    transform: rotateZ(72deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(2) {
    transform: rotateZ(144deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(3) {
    transform: rotateZ(216deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(4) {
    transform: rotateZ(288deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(5) {
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.radio[data-state="right"] {
    --input-radio-bg: var(--clr-activity-success);
}

.radio[data-state="wrong"] {
    --input-radio-bg: var(--clr-activity-wrong);
}

.radio :global(.c-input-radio__icon) svg {
    width: var(--input-size-svg);
    height: var(--input-size-svg);
}