.content__radio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(5, 5, 85, 0.87);
    gap: 1rem;
    padding: 0.5rem;
}

.content__game {
    width: 50%;
}

.radio__svg {
    position: relative;
    width: 100%;
}

.radio__svg input {
    position: absolute;
    inset: 0;
    width: 1px;
}

.radio__svg label {
    position: relative;
    display: grid;
    place-content: center;
    min-height: 11.6ch;
    padding: 1.5rem;
    color: var(--clr-common-white-100);
    font-size: clamp(0.1rem, -0.25rem + 3.333vw, 0.8rem);
    font-weight: 300;
    color: white;
    border-radius: 30px;
    border: 2px solid white;
    background-color: var(--clr-brand);
}

.radio__svg input:checked[data-state="correct"]+label {
    background-color: var(--clr-activity-success);
    font-weight: bold;
}

.radio__svg input:checked[data-state="incorrect"]+label {
    background-color: var(--clr-activity-wrong);
    font-weight: bold;
}


.radio__svg input:checked+label::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: wheat;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.radio__svg input:checked[data-state="incorrect"]+label::before {
    content: "✖";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: rgb(233, 93, 93);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.radio__svg input:checked[data-state="correct"]+label::before {
    content: "✔";
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: rgb(38, 160, 64);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.button-play-again {
    background-color: var(--clr-brand);
    color: white;
    border-radius: 8px;
    padding: 0.3rem;
    border: 3px solid white;
    cursor: pointer;
}

/* animaciones carro */

@keyframes move-track1 {
    0% {
        transform: translateX(0);
        /* Pista 1 empieza en la posición inicial */
    }

    100% {
        transform: translateX(-215%);
        /* Pista 1 se mueve completamente fuera */
    }
}

@keyframes move-track2 {
    0% {
        transform: translateX(215%);
        /* Pista 2 comienza fuera del viewport a la derecha */
    }

    100% {
        transform: translateX(0);
        /* Pista 2 se mueve para ocupar el lugar de la pista 1 */
    }
}

@keyframes wheelsRotation {
    100% {
        transform: rotate(360deg);
    }
}

.rueda2 {
    transform-origin: 219.9px 252.8px;
}

.rueda1 {
    transform-origin: 53px 252.8px;
}

.rueda3 {
    transform-origin: 73.6px 368.3px;
}

.rueda4 {
    transform-origin: 240.6px 368.3px;
}

.svg-sld14-track1,
.svg-sld14-track2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
}

/* svg-initial */
.button-svg-p14 {
    border: none;
    background: none;
    background-color: #771928;
    color: white;
    font-weight: bolder;
    padding: 0.5rem;
    width: 170px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.button-svg-p14:focus-visible {
    outline: 4px solid rgba(255, 255, 255, 0.75);
    outline-offset: 4px;
}

.svg-sld14-message-initial,
.box-questions {
    display: grid;
    place-content: center;
    border: 4px solid #5a5ca4;
    background-color: #fefbdb;
    border-radius: 18px;
    padding: 0.8rem;
    color: black;
    font-size: 0.9rem;
    width: fit-content;
    height: 7.475rem;
    overflow: auto;
}

@keyframes move-track1 {
    0% {
        transform: translateX(0);
        /* Pista 1 empieza en la posición inicial */
    }

    100% {
        transform: translateX(-215%);
        /* Pista 1 se mueve completamente fuera */
    }
}

@keyframes move-track2 {
    0% {
        transform: translateX(215%);
        /* Pista 2 comienza fuera del viewport a la derecha */
    }

    100% {
        transform: translateX(0);
        /* Pista 2 se mueve para ocupar el lugar de la pista 1 */
    }
}

.svg-sld14-track1,
.svg-sld14-track2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html:not([data-stop-animations="true"]) {
        .svg-sld14-track1 {
            animation: move-track1 5s linear infinite;
        }

        .svg-sld14-track2 {
            animation: move-track2 5s linear infinite;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    html:not([data-stop-animations="true"]) {
        .svg-sld14-track1 {
            animation: move-track1 5s linear infinite;
        }

        .svg-sld14-track2 {
            animation: move-track2 5s linear infinite;
        }
    }

    html:not([data-stop-animations="true"]) {
        :is(.rueda1, .rueda2, .rueda3, .rueda4) {
            animation: wheelsRotation 1s infinite linear;
        }
    }
}


@media (min-width: 1380px) and (max-width: 1600px) {
    .content__game {
        flex: 0 0 61% !important;
    }
}

@media (min-width: 1280px) and (max-width: 1380px) {
    .content__game {
        flex: 0 0 75% !important;
    }
}

@media (min-width: 1200px) {
    .button-play-again {
        position: relative;
        bottom: 80px;
    }
}


@media (max-width: 1000px) {
    .svg-content {
        overflow: auto;
    }
}