/* Heebo - Page title */
@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

/* Lato - Portada - A11y options */
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Black.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Thin.woff2') format('woff2');
  font-weight: lighter;
  font-display: swap;
}

/* Montserrat - General */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regularc.woff2') format('woff2');
  font-weight: normal; 
  font-display: swap;
}

/* Nunito - Footer */
@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: bold; 
  font-display: swap;
}

/* Roboto - Menu */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold; 
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal; 
  font-display: swap;
}