/* Normal */
@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-Italic.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Italic.ttf') format('ttf');
  font-display: swap;
  font-style: italic;
}

/* Light */

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Light.ttf') format('ttf');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-LightItalic.ttf') format('ttf');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

/* Semi-bold */

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-SemiBold.ttf') format('ttf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-SemiBoldItalic.ttf') format('ttf');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

/* Bold */

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Bold.ttf') format('ttf');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    url('assets/fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-BoldItalic.ttf') format('ttf');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'chalkdust';
  src:
    url('assets/fonts/chalkdust.ttf') format('ttf'),
    url('assets/fonts/chalkdust.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fat';
  src:
    url('assets/fonts/Fat-Flamingo5-Woodcut-Inner.ttf') format('ttf'),
    url('assets/fonts/Fat-Flamingo5-Woodcut-Inner.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
